.image-picker{
    margin: 5%;
    height: 90%;
}
.image-picker img{
	height: -webkit-fill-available;
    object-fit: cover;
}
.image-picker .shell{
	overflow: scroll;
    height: 90%;
}
.image-picker .shell .range{
	height: 100%;
}
.image-picker .cell-sm-4{
	padding:0;
	height: 34%;
    border: 2px solid #ffffff;
}