body{
}
@import '~react-big-calendar/lib/css/react-big-calendar.css';
@import "./components/main.css";
@import '~react-select/dist/react-select.css';
.form-control{
	padding: 12px 63px;
}
.rbc-calendar{
	height: 519px;
    z-index: 100;
    margin-top: 130px;
}
.admin{
	.shell{
		h3{
			border-top:1px solid red;
		}
	}
}
.jumbotron-variant-1 > span {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.jumbotron-variant-1 > span  img{
    width:40px;
}
.form-modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5)!important;
    width: 100%;
    height: 100%;
    z-index: 10;
    h3{
    	text-align: center;
    }
    form{
    	position: fixed;
    	top: 20%;
    	left: 40%;
    	color: #ffffff;
    	.form{
    		background-color: #ffffff;
		    border-radius: 7px;
		    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
		    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    	}
    }
    .fa-trash-o{
    	left: 0px;
	    top: 3px;
	    position: absolute;
    }
}
.form-group button{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: none;
    font-size: 24px;
    background: transparent;
}
.login form{
    justify-content: center;
}

.my-bars{
    display:none;
}
.button-holder{
    position: absolute;
    top: 5px;
    right: 22px;
}
.button-holder i{
    font-style: normal;
    font-size: 20px;
    margin: 5px;
    padding: 3px;
}
.media-variant-1 .media-body{
    position: relative;
}
@media screen and (max-width : 760px){
    .button-holder {
        top: 18px;
    }
    .img-height img{
        height: auto;
    }
    .thumbnail:before{
        display:none;
    }
    .thumbnail .caption a{
        background: rgba(255,255,255,0.4);
        padding: 10px;
    }
    main{
        margin-top:40px;
    }
    .header-wrapper{
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .list-inline > li + li:before{
        display:none;
    }
    .top-bar-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
    }
    .tablet .header-2, .mobile .header-2{
        padding: 0px;
    }
    .header-2 .jumbotron-variant-1{
        display:none;
    }
    .my-bars{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right:10px;
    }
    .my-bars i{
        font-style: normal;
        color:#ffffff;
        font-size: 22px;
    }
    .header-2 .rd-navbar-wrap{
        display:none;
    }
    .active .header-2 .rd-navbar-wrap {
        width: 100%;
        z-index: 10;
        display: block;
        position: initial;
    }
    .header-2 .rd-navbar-wrap ul{
        display: flex;
        flex-direction: column;
    }
    .rd-navbar-static .rd-navbar-inner, .rd-navbar-fullwidth .rd-navbar-inner{
        padding:0px;
    }
    .rd-navbar-static .rd-navbar-nav > li + li{
        margin:0;
    }
    .rd-navbar-static .rd-navbar-inner-wrap, .rd-navbar-fullwidth .rd-navbar-inner-wrap{
        padding:0px;
    }
}
.thumbnail:after {
    height:95%;
    width:95%;
}
.thumbnail:before {
    opacity: .2;
}
.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}
.rtl .rd-navbar-static .rd-navbar-nav > li + li{
        margin-left: 0px;
        margin-right: 78px;
}